@model IEnumerable<MatriculaAcademica.Models.CursoDisciplina>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="margin-custom1">

    <!-- Start Alerta de Erro no Banco de Dados-->
    @if (Convert.ToString(Session["errodb.Msg"]) != "")
    {
        <div class="alert danger-alert bg-red fancybox-overlay-fixed">
            <h3>@Session["errodb.Msg"]</h3>
            <a class="close">&times;</a>
        </div>
    }
    <!-- End Alerta de Erro no Banco de Dados-->

    <!-- Start Alerta de Sucesso no Banco de Dados-->
    @if (Convert.ToString(Session["susdb.Msg"]) != "")
    {
        <div class="alert danger-alert bg-red fancybox-overlay-fixed" style="background-color: #00ff21;">
            <h3>@Session["susdb.Msg"]</h3>
            <a class="close">&times;</a>
        </div>
    }
    <!-- End Alerta de Sucesso no Banco de Dados-->

    <!-- Start Modal Cadastro-->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalCadastro">
        Adicionar Ligação de Curso e Disciplina
    </button>
    <hr />
    @using (Html.BeginForm("Create", "CursoDisciplinas", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="modal fade" id="modalCadastro" tabindex="-1" role="dialog" aria-labelledby="modalCadastroLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalCadastro">Cadastro de Ligação de Curso e Disciplina</h4>
                    </div>
                    <div class="modal-body form-horizontal">
                        <div class="form-group form-inline">
                            @Html.Label("Nome do Curso", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.DropDownList("id_curso", null, htmlAttributes: new { @class = "form-control", @name = "id_curso", @id = "id_curso" })
                        </div>
                        <div class="form-group form-inline">
                            @Html.Label("Nome da Disciplina", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.DropDownList("id_disciplina", null, htmlAttributes: new { @class = "form-control", @name = "id_disciplina", @id = "id_disciplina" })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="submit" value="Create" class="btn btn-primary">Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- End Modal Cadastro-->
    <!-- Start Modal Detalhe-->
    <div class="modal fade" id="modalDetalhes" tabindex="-2" role="dialog" aria-labelledby="modalDetalhesLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalDetalhesTitulo">Disciplinas dos Cursos</h4>
                </div>
                <div class="modal-body">
                    <p>Nome do Curso</p>
                    <p id="cursoPDetalhes"></p>
                    <br />
                    <p>Nome da Disciplina</p>
                    <p id="disciplinaPDetalhes"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Detalhes-->
    <!-- Start Modal Edit-->
    <div class="modal fade" id="modalEditar" tabindex="-3" role="dialog" aria-labelledby="modalEditarLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @using (Html.BeginForm("Edit", "CursoDisciplinas", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalEditarTitulo">Editar Disciplinas do Curso</h4>
                    </div>
                    <div class="modal-body form-horizontal">
                        <div class="form-group form-inline">
                            @Html.Label("Nome do Curso", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.DropDownList("id_curso", null, htmlAttributes: new { @class = "form-control", @name = "id_curso", @id = "id_curso_edit" })
                        </div>
                        <div class="form-group form-inline">
                            @Html.Label("Nome da Disciplina", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.DropDownList("id_disciplina", null, htmlAttributes: new { @class = "form-control", @name = "id_disciplina", @id = "id_disciplina_edit" })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- End Modal Edit-->
    <!-- Start Modal Delete-->
    <div class="modal fade" id="modalDeletar" tabindex="-4" role="dialog" aria-labelledby="modalDeletarLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalDeletarTitulo">Deletar Matrícula</h4>
                    Tem certeza que quer deletar a ligação curso e disciplina: <b id="idItemDeletar"></b>?
                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm("Delete", "CursoDisciplinas", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="idInputDeletar" name="id" value="">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Deletar</button>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Delete-->

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <table class="table table-striped table-bordered" id="TabelaCursoDisciplina">
            <thead>
                <tr>
                    <th>
                        Nome do Curso
                    </th>
                    <th>
                        Turno
                    </th>
                    <th>
                        Nome da Disciplina
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Curso.nome_curso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Curso.turno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Disciplina.nome_disciplina)
                    </td>
                    <td>
                        <a href="" data-toggle="modal" data-target="#modalDetalhes" data-curso=@item.id_curso data-disciplina=@item.id_disciplina>
                            Detalhes
                        </a> |
                        <a href="" data-toggle="modal" data-target="#modalEditar" data-curso=@item.id_curso data-disciplina=@item.id_disciplina>
                            Editar
                        </a> |
                        <a href="" data-toggle="modal" data-target="#modalDeletar" data-id=@item.id_curso_disciplina data-nome=@item.id_curso_disciplina>
                            Deletar
                        </a> |
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $("#TabelaCursoDisciplina").DataTable({
                "language": {
                    "lengthMenu": "Exibe _MENU_ Registros por página",
                    "search": "Procurar",
                    "paginate": { "previous": "Retorna", "next": "Avança" },
                    "zeroRecords": "Nada foi encontrado",
                    "info": "Exibindo página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros",
                    "infoFiltered": "(filtrado de _MAX_ regitros totais)"
                }
            });
            $("#modalDetalhes").on('show.bs.modal', function (event) {
                // procura o link que chamou a modal
                var botao = $(event.relatedTarget);
                var CursoItemDetalhes = botao.data('curso');
                var DisciplinaItemDetalhes = botao.data('disciplina');
                // seta as informações na modal fixa
                $("#cursoPDetalhes").text(CursoItemDetalhes);
                $("#disciplinaPDetalhes").text(DisciplinaItemDetalhes);
            });
            $("#modalEditar").on('show.bs.modal', function (event) {
                // procura o link que chamou a modal
                var botao = $(event.relatedTarget);
                var CursoItemEditando = botao.data('curso');
                var DisciplinaItemEditando = botao.data('disciplina');
                // seta as informações na modal fixa
                $("#id_curso_edit").val(CursoItemEditando);
                $("#id_disciplina_edit").val(DisciplinaItemEditando);
            });
            $("#modalDeletar").on('show.bs.modal', function (event) {
                // procura o link que chamou a modal
                var botao = $(event.relatedTarget);
                var IDItemDeletando = botao.data('id');
                var NomeItemDeletando = botao.data('nome');
                // seta as informações na modal fixa
                $("#idItemDeletar").text(NomeItemDeletando);
                $("input#idInputDeletar").val(IDItemDeletando);
            });
        });
    </script>

</div>
