@model Matricula.Models.Solicitacao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Solicitacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipo_documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_documento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_pedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_pedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_emissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_emissao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funcionario.situacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funcionario.situacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_solicitacao }) |
    @Html.ActionLink("Back to List", "Index")
</p>
