@model IEnumerable<Matricula.Models.Solicitacao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tipo_documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_pedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_emissao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Funcionario.situacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_pedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_emissao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Funcionario.situacao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_solicitacao }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_solicitacao }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_solicitacao })
        </td>
    </tr>
}

</table>
