@model MatriculaAcademica.Models.Usuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="margin-custom1">
    <h2>Details</h2>

    <div>
        <h4>Usuario</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Idenfiticador de Usuario
            </dt>

            <dd>
                @Html.DisplayFor(model => Model.id_usuario)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.login)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.login)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.senha)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.senha)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tipo)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id_usuario }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
