@model IEnumerable<MatriculaAcademica.Models.Usuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="margin-custom1">

    <!-- Start Modal Cadastro-->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalCadastro">
        Adicionar Novo Usuario
    </button>
    <hr />
    @using (Html.BeginForm("Create", "Usuarios", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="modal fade" id="modalCadastro" tabindex="-1" role="dialog" aria-labelledby="modalCadastroLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalCadastro">Cadastro de Usuario</h4>
                    </div>
                    <div class="modal-body form-horizontal">
                        <div class="form-group form-inline">
                            @Html.Label("Login", htmlAttributes: new { @class = "control-label col-md-2" })
                            <input class="form-control" type="text" name="login" id="login" style="border-color:red" />
                        </div>
                        <div class="form-group form-inline">
                            @Html.Label("Senha", htmlAttributes: new { @class = "control-label col-md-2" })
                            <input class="form-control col-md-10" type="password" name="senha" id="senha" style="border-color:red" />
                        </div>
                        <div class="form-group form-inline">
                            @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
                            <input class="form-control col-md-10" type="email" name="email" id="email" style="border-color:red" />
                        </div>
                        @if (Session["tipo"] != null)
                        {
                            string permissao = (Session["tipo"] as string).Trim();
                            if (string.Equals(permissao, "admin"))
                            {
                        <div class="form-group form-inline">
                            @Html.Label("Tipo", htmlAttributes: new { @class = "control-label col-md-2" })
                            <input class="form-control col-md-10" type="text" name="tipo" id="tipo" style="border-color:red" />
                        </div>
                            }
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- End Modal Cadastro-->

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <table class="table table-striped table-bordered" id="TabelaUsuario">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.login)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.senha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.tipo)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.login)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.senha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tipo)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.id_usuario }) |
                            @Html.ActionLink("Details", "Details", new { id = item.id_usuario }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.id_usuario })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $("#TabelaUsuario").DataTable({
                "language": {
                    "lengthMenu": "Exibe _MENU_ Registros por página",
                    "search": "Procurar",
                    "paginate": { "previous": "Retorna", "next": "Avança" },
                    "zeroRecords": "Nada foi encontrado",
                    "info": "Exibindo página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros",
                    "infoFiltered": "(filtrado de _MAX_ regitros totais)"
                }
            });
        });
    </script>
