@model IEnumerable<MatriculaAcademica.Models.Aluno>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.senha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome_aluno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.senha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome_aluno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPF)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_aluno }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_aluno }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_aluno })
        </td>
    </tr>
}

</table>
