@model Matricula.Models.Aluno_Professor_Materia

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Aluno_Professor_Materia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_matricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.frequencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.frequencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atestado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atestado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aluno.situacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aluno.situacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Professor_Materia.id_professor_materia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Professor_Materia.id_professor_materia)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
