@model IEnumerable<Matricula.Models.Aluno_Professor_Materia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.frequencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.atestado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aluno.situacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Professor_Materia.id_professor_materia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_matricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.frequencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.atestado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aluno.situacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Professor_Materia.id_professor_materia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_aluno_prof_mat }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_aluno_prof_mat }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_aluno_prof_mat })
        </td>
    </tr>
}

</table>
