<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nome do aplicativo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav mr-auto" style="width: 100%; float:none;">
                    <li class="nav-item">@Html.ActionLink("Home", "About", "Home")</li>
                    <li class="nav-item">@Html.ActionLink("Sobre", "About", "Home")</li>
                    <li class="nav-item">@Html.ActionLink("Contato", "Contact", "Home")</li>

                    <li class="nav-item dropdown" style="float:right;">
                        @if (!string.IsNullOrEmpty(Session["nome"] as string)) {
                            <a class="nav-link dropdown-toggle" id="dropdownUsuario" href="/Perfil" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Session["nome"]
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownUsuario">
                                <div class="dropdown-item">Perfil</div>
                                @if (string.Equals((Session["tipo"] as string).Trim(), "admin")) {
                                    @Html.ActionLink("Admin", "Index", "Admin")
                                }
                                <div class="dropdown-item"><a href="/Home/Logout">Sair</a></div>
                            </div>
                        }
                        else {
                            @Html.ActionLink("Entrar", "Index", "Login")
                        }

                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
