<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Matrícula Escolar</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/home")
    <link href="@Url.Content("~/Content/assets/css/font-awesome.css")" rel="stylesheet" asp-append-version="true">
    <script src="@Url.Content("~/Scripts/jquery.min.js")" asp-append-version="true"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@Url.Content("~/Scripts/bootstrap.js")" asp-append-version="true"></script>
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/alert.css" rel="stylesheet" />
</head>
<body>


    <!-- Reseta a variavel erro toda vez que muda de view-->
    @if (Convert.ToString(Session["errodb.Msg"]) != "")
    {
        Session["errodb.Msg"] = "";
    }

    <!-- Reseta a variavel sucesso toda vez que muda de view-->
    @if (Convert.ToString(Session["susdb.Msg"]) != "")
    {
        Session["susdb.Msg"] = "";
    }

    <section style="background-color: white;">
        <nav class="navbar navbar-collapse" role="navigation" style="border: solid 20px white; margin-left: -20px; ">
            <div class="container">
                <!-- LOGO -->
                <!-- TEXT BASED LOGO -->
                <div class="navbar-brand" style="background-color: darkblue; border-radius: 25px;"><i class="fa fa-university" style="color: white;"></i><button onclick="location.href='@Url.Action("Index", "Home")';return false;" style="color: white; border: none; outline: none; background: none;">Escola Saber</button></div>
                <!-- IMG BASED LOGO  -->
                <!-- <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt="logo"></a> -->
                <div id="navbar" class="navbar-collapse collapse">
                    <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                        @if (Session.Count != 0)
                        {
                            <li class="nav-item">@Html.ActionLink("Aluno", "Index", "Alunos")</li>
                            <li class="nav-item">@Html.ActionLink("Professor", "Index", "Professores")</li>
                            <li class="nav-item">@Html.ActionLink("Curso", "Index", "Cursos")</li>
                            <li class="nav-item">@Html.ActionLink("Curso-Disciplina", "Index", "CursoDisciplinas")</li>
                            <li class="nav-item">@Html.ActionLink("Disciplina", "Index", "Disciplinas")</li>
                            <li class="nav-item">@Html.ActionLink("Professor-Disciplina", "Index", "ProfessoresDisciplinas")</li>
                            <li class="nav-item">@Html.ActionLink("Matrícula", "Index", "Matriculas")</li>
                            if (Session["Tipo"].ToString().ToUpper().Trim() == "ADMIN")
                            {
                                <li class="nav-item">@Html.ActionLink("Usuário", "Index", "Usuarios")</li>
                            }
                        }

                        @if (ViewBag.Title != "Login")
                        {
                            if (!string.IsNullOrEmpty(Session["nome"] as string))
                            {
                                <li class="nav-item" style="float:right;">@Html.ActionLink("Logout", "Logout", "Home")</li>
                            }
                            else
                            {
                                <li class="nav-item" style="float:right;">@Html.ActionLink("Entrar", "Index", "Login")</li>
                            }
                        }
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </section>
    @RenderBody()
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    </bodystyle="background-color:powderblue;">
</html>


<script>
    $(".close").click(function () {
        $(this)
            .parent(".alert")
            .fadeOut();
           @if (Convert.ToString(Session["errodb.Msg"]) != "")
            {
                Session["errodb.Msg"] = "";
            }
            @if (Convert.ToString(Session["susdb.Msg"]) != "")
            {
                Session["susdb.Msg"] = "";
            }
    });
    $(document).ready(function () {

        $("#CPF").inputmask("999.999.999-99");

        $("#cpfInputEditar").inputmask("999.999.999-99");

        $('#telefone').inputmask("(99)9999[9]-9999");

        $('#telefoneInputEditar').inputmask("(99)9999[9]-9999");

    });
</script>

