@model MatriculaAcademica.Models.Curso

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_curso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_curso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duracao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.turno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.turno)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_curso }) |
    @Html.ActionLink("Back to List", "Index")
</p>
