@model Matricula.Models.Professor_Materia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Professor_Materia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Materia.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materia.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Professor.situacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Professor.situacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_professor_materia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
