@model Matricula.Models.Funcionario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.situacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.situacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.setor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.setor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pessoa.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoa.nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_funcionario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
