@model IEnumerable<MatriculaAcademica.Models.Disciplina>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome_disciplina)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome_disciplina)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_disciplina }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_disciplina }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_disciplina })
        </td>
    </tr>
}

</table>
