@model IEnumerable<MatriculaAcademica.Models.Disciplina>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="margin-custom1">

    <!-- Start Alerta de Erro no Banco de Dados-->
    @if (Convert.ToString(Session["errodb.Msg"]) != "")
    {
        <div class="alert danger-alert bg-red fancybox-overlay-fixed">
            <h3>@Session["errodb.Msg"]</h3>
            <a class="close">&times;</a>
        </div>
    }
    <!-- End Alerta de Erro no Banco de Dados-->
    <!-- Start Alerta de Sucesso no Banco de Dados-->
    @if (Convert.ToString(Session["susdb.Msg"]) != "")
    {
        <div class="alert danger-alert bg-red fancybox-overlay-fixed" style="background-color: #00ff21;">
            <h3>@Session["susdb.Msg"]</h3>
            <a class="close">&times;</a>
        </div>
    }
    <!-- End Alerta de Sucesso no Banco de Dados-->
    <!-- Start Modal Cadastro-->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalCadastro">
        Adicionar Nova Disciplina
    </button>
    <hr />
    @using (Html.BeginForm("Create", "Disciplinas", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="modal fade" id="modalCadastro" tabindex="-1" role="dialog" aria-labelledby="modalCadastroLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalCadastro">Cadastro de Disciplina</h4>
                    </div>
                    <div class="modal-body form-horizontal">
                        <div class="form-group form-inline">
                            @Html.Label("Nome", htmlAttributes: new { @class = "control-label col-md-2" })
                            <input class="form-control" type="text" name="nome_disciplina" id="nome_disciplina" style="border-color:red" required />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- End Modal Cadastro-->

    <!-- Start Modal Detalhe-->
    <div class="modal fade" id="modalDetalhes" tabindex="-2" role="dialog" aria-labelledby="modalDetalhesLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalDetalhesTitulo">Detalhes da Disciplina</h4>
                </div>
                <div class="modal-body">
                        <h4><b>Identificador da Disciplina</b></h4>
                        <p id="idInputDetalhes"></p>
                        <br />
                        <h4><b>Nome da Disciplina</b></h4>
                        <p id="nomeInputDetalhes"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Detalhes-->
    <!-- Start Modal Edit-->
    <div class="modal fade" id="modalEditar" tabindex="-3" role="dialog" aria-labelledby="modalEditarLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @using (Html.BeginForm("Edit", "Disciplinas", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalEditarTitulo">Editar Disciplina</h4>
                    </div>
                    <div class="modal-body form-horizontal">
                        <div class="form-group form-inline">
                            <input type="hidden" id="idInputEditar" name="id_disciplina" value="">
                            @Html.Label("Nome", htmlAttributes: new { @class = "control-label col-md-2" })
                            <input class="form-control" type="text" id="nomeInputEditar" name="nome_disciplina" value="" style="border-color:red" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- End Modal Edit-->
    <!-- Start Modal Delete-->
    <div class="modal fade" id="modalDeletar" tabindex="-4" role="dialog" aria-labelledby="modalDeletarLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalDeletarTitulo">Deletar Disciplina</h4>
                    Tem certeza que quer deletar: <b id="nomeItemDeletar"></b>?
                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm("Delete", "Disciplinas", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="idInputDeletar" name="id" value="">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary" value="Delete">Deletar</button>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Delete-->

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <table class="table table-striped table-bordered" id="TabelaDisciplina">
            <thead>
                <tr>
                    <th>
                        Nome da Disciplina
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nome_disciplina)
                        </td>
                        <td>
                            <a href="" data-toggle="modal" data-target="#modalDetalhes" data-id=@item.id_disciplina data-nome="@item.nome_disciplina">
                                Detalhes
                            </a> |
                            <a href="" data-toggle="modal" data-target="#modalEditar" data-id=@item.id_disciplina data-nome="@item.nome_disciplina">
                                Editar
                            </a> |
                            <a href="" data-toggle="modal" data-target="#modalDeletar" data-id=@item.id_disciplina data-nome="@item.nome_disciplina">
                                Deletar
                            </a> |
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $("#TabelaDisciplina").DataTable({
                "language": {
                    "lengthMenu": "Exibe _MENU_ Registros por página",
                    "search": "Procurar",
                    "paginate": { "previous": "Retorna", "next": "Avança" },
                    "zeroRecords": "Nada foi encontrado",
                    "info": "Exibindo página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros",
                    "infoFiltered": "(filtrado de _MAX_ regitros totais)"
                }
            });
            $("#modalDetalhes").on('show.bs.modal', function (event) {
                // procura o link que chamou a modal
                var botao = $(event.relatedTarget);
                var IDItemDetalhes = botao.data('id');
                var NomeItemDetalhes = botao.data('nome');
                // seta as informações na modal fixa
                $("#idInputDetalhes").text(IDItemDetalhes);
                $("#nomeInputDetalhes").text(NomeItemDetalhes);
            });
            $("#modalEditar").on('show.bs.modal', function (event) {
                // procura o link que chamou a modal
                var botao = $(event.relatedTarget);
                var IDItemEditando = botao.data('id');
                var NomeItemEditando = botao.data('nome');
                // seta as informações na modal fixa
                $("input#idInputEditar").val(IDItemEditando);
                $("input#nomeInputEditar").val(NomeItemEditando);
            });
            $("#modalDeletar").on('show.bs.modal', function (event) {
                // procura o link que chamou a modal
                var botao = $(event.relatedTarget);
                var IDItemDeletando = botao.data('id');
                var NomeItemDeletando = botao.data('nome');
                // seta as informações na modal fixa
                $("#nomeItemDeletar").text(NomeItemDeletando);
                $("input#idInputDeletar").val(IDItemDeletando);
            });
        });
    </script>

</div>
