@model MatriculaAcademica.Models.CursoDisciplina

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CursoDisciplina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.nome_curso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.nome_curso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disciplina.nome_disciplina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disciplina.nome_disciplina)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_curso_disciplina }) |
    @Html.ActionLink("Back to List", "Index")
</p>
