@model IEnumerable<MatriculaAcademica.Models.CursoDisciplina>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="table table-striped table-bordered" id="TabelaCursoDisciplina">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Curso.nome_curso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Disciplina.nome_disciplina)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Curso.nome_curso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Disciplina.nome_disciplina)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id_curso_disciplina }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id_curso_disciplina }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id_curso_disciplina })
                </td>
            </tr>
            }
        </tbody>
    </table>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#TabelaCursoDisciplina").DataTable({
            "language": {
                "lengthMenu": "Exibe _MENU_ Registros por página",
                "search": "Procurar",
                "paginate": { "previous": "Retorna", "next": "Avança" },
                "zeroRecords": "Nada foi encontrado",
                "info": "Exibindo página _PAGE_ de _PAGES_",
                "infoEmpty": "Sem registros",
                "infoFiltered": "(filtrado de _MAX_ regitros totais)"
            }
        });
    });
</script>
