@model IEnumerable<MatriculaAcademica.Models.Professor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="table table-striped table-bordered" id="TabelaProfessor">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nome_professor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CPF)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.telefone)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nome_professor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CPF)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.telefone)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id_professor }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id_professor }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id_professor })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#TabelaProfessor").DataTable({
            "language": {
                "lengthMenu": "Exibe _MENU_ Registros por página",
                "search": "Procurar",
                "paginate": { "previous": "Retorna", "next": "Avança" },
                "zeroRecords": "Nada foi encontrado",
                "info": "Exibindo página _PAGE_ de _PAGES_",
                "infoEmpty": "Sem registros",
                "infoFiltered": "(filtrado de _MAX_ regitros totais)"
            }
        });
    });
</script>
