@model IEnumerable<MatriculaAcademica.Models.Professor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="margin-custom1">

    <!-- Start Alerta de Erro no Banco de Dados-->
    @if (Convert.ToString(Session["errodb.Msg"]) != "")
    {
        <div class="alert danger-alert bg-red fancybox-overlay-fixed">
            <h3>@Session["errodb.Msg"]</h3>
            <a class="close">&times;</a>
        </div>
    }
    <!-- End Alerta de Erro no Banco de Dados-->

    <!-- Start Alerta de Sucesso no Banco de Dados-->
    @if (Convert.ToString(Session["susdb.Msg"]) != "")
    {
        <div class="alert danger-alert bg-red fancybox-overlay-fixed" style="background-color: #00ff21;">
            <h3>@Session["susdb.Msg"]</h3>
            <a class="close">&times;</a>
        </div>
    }
    <!-- End Alerta de Sucesso no Banco de Dados-->

    <!-- Start Modal Cadastro-->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalCadastro">
        Adicionar Novo Professor
    </button>
    <hr />
    @using (Html.BeginForm("Create", "Professores", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="modal fade" id="modalCadastro" tabindex="-1" role="dialog" aria-labelledby="modalCadastroLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalCadastro">Cadastro de Professor</h4>
                    </div>
                    <div class="modal-body form-horizontal">
                        <div class="form-group form-inline">
                            @Html.Label("Nome", htmlAttributes: new { @class = "control-label col-md-2" })
                            <input class="form-control" type="text" name="nome_professor" id="nome_professor" style="border-color:red" />
                        </div>
                        <div class="form-group form-inline">
                            @Html.Label("CPF", htmlAttributes: new { @class = "control-label col-md-2" })
                            <input class="form-control col-md-10" type="text" name="CPF" id="CPF" style="border-color:red" />
                        </div>
                        <div class="form-group form-inline">
                            @Html.Label("Telefone", htmlAttributes: new { @class = "control-label col-md-2" })
                            <input class="form-control col-md-10" type="text" name="telefone" id="telefone" style="border-color:red" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- End Modal Cadastro-->
    <!-- Start Modal Detalhe-->
    <div class="modal fade" id="modalDetalhes" tabindex="-2" role="dialog" aria-labelledby="modalDetalhesLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalDetalhesTitulo">Detalhes do Professor</h4>
                </div>
                <div class="modal-body">
                    <h4><b>Identificador do Professor</b></h4>
                    <p id="idDDDetalhes"></p>
                    <br />
                    <h4><b>Nome do Professor</b></h4>
                    <p id="nomeDDDetalhes"></p>
                    <br />
                    <h4><b>CPF do Professor</b></h4>
                    <p id="cpfDDDetalhes"></p>
                    <br />
                    <h4><b>Telefone do Professor</b></h4>
                    <p id="telefoneDDDetalhes"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Detalhes-->
    <!-- Start Modal Edit-->
    <div class="modal fade" id="modalEditar" tabindex="-3" role="dialog" aria-labelledby="modalEditarLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @using (Html.BeginForm("Edit", "Professores", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalEditarTitulo">Editar Cadastro do Professor</h4>
                    </div>
                    <div class="modal-body form-horizontal">
                        <div class="form-group form-inline">
                            <input type="hidden" id="idInputEditar" name="id_professor" value="">

                            @Html.Label("Nome", htmlAttributes: new { @class = "control-label col-md-3" })
                            <input class="form-control" type="text" name="nome_professor" id="nomeInputEditar" value="" style="border-color:red" />
                        </div>
                        <div class="form-group form-inline">
                            @Html.Label("CPF", htmlAttributes: new { @class = "control-label col-md-3" })
                            <input class="form-control col-md-10" type="text" name="CPF" id="cpfInputEditar" value="" style="border-color:red" />
                        </div>
                        <div class="form-group form-inline">
                            @Html.Label("Telefone", htmlAttributes: new { @class = "control-label col-md-3" })
                            <input class="form-control col-md-10" type="text" name="telefone" id="telefoneInputEditar" value="" style="border-color:red" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- End Modal Edit-->
    <!-- Start Modal Delete-->
    <div class="modal fade" id="modalDeletar" tabindex="-4" role="dialog" aria-labelledby="modalDeletarLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalDeletarTitulo">Deletar Professor</h4>
                    Tem certeza que quer deletar: <b id="nomeItemDeletar"></b>?
                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm("Delete", "Professores", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="idInputDeletar" name="id" value="">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Deletar</button>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Delete-->

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <table class="table table-striped table-bordered" id="TabelaProfessor">
            <thead>
                <tr>
                    <th>
                        Nome do Professor
                    </th>
                    <th>
                        CPF
                    </th>
                    <th>
                        Telefone
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nome_professor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CPF)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.telefone)
                        </td>
                        <td>
                            <a href="" data-toggle="modal" data-target="#modalDetalhes" data-id=@item.id_professor data-nome="@item.nome_professor" data-cpf="@item.CPF" data-telefone=@item.telefone>
                                Detalhes
                            </a> |
                            <a href="" data-toggle="modal" data-target="#modalEditar" data-id=@item.id_professor data-nome="@item.nome_professor" data-cpf="@item.CPF" data-telefone=@item.telefone>
                                Editar
                            </a> |
                            <a href="" data-toggle="modal" data-target="#modalDeletar" data-id=@item.id_professor data-nome="@item.nome_professor">
                                Deletar
                            </a> |
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $("#TabelaProfessor").DataTable({
                "language": {
                    "lengthMenu": "Exibe _MENU_ Registros por página",
                    "search": "Procurar",
                    "paginate": { "previous": "Retorna", "next": "Avança" },
                    "zeroRecords": "Nada foi encontrado",
                    "info": "Exibindo página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros",
                    "infoFiltered": "(filtrado de _MAX_ regitros totais)"
                }
            });
            $("#modalDetalhes").on('show.bs.modal', function (event) {
                // procura o link que chamou a modal
                var botao = $(event.relatedTarget);
                var IDItemDetalhes = botao.data('id');
                var NomeItemDetalhes = botao.data('nome');
                var CPFItemDetalhes = botao.data('cpf');
                var TelefoneItemDetalhes = botao.data('telefone');
                // seta as informações na modal fixa
                $("#idDDDetalhes").text(IDItemDetalhes);
                $("#nomeDDDetalhes").text(NomeItemDetalhes);
                $("#cpfDDDetalhes").text(CPFItemDetalhes);
                $("#telefoneDDDetalhes").text(TelefoneItemDetalhes);
            });
            $("#modalEditar").on('show.bs.modal', function (event) {
                // procura o link que chamou a modal
                var botao = $(event.relatedTarget);
                var IDItemEditando = botao.data('id');
                var NomeItemEditando = botao.data('nome');
                var CPFItemEditando = botao.data('cpf');
                var TelefoneItemEditando = botao.data('telefone');
                // seta as informações na modal fixa
                $("input#idInputEditar").val(IDItemEditando);
                $("input#nomeInputEditar").val(NomeItemEditando);
                $("input#cpfInputEditar").val(CPFItemEditando);
                $("input#telefoneInputEditar").val(TelefoneItemEditando);
            });
            $("#modalDeletar").on('show.bs.modal', function (event) {
                // procura o link que chamou a modal
                var botao = $(event.relatedTarget);
                var IDItemDeletando = botao.data('id');
                var NomeItemDeletando = botao.data('nome');
                // seta as informações na modal fixa
                $("#nomeItemDeletar").text(NomeItemDeletando);
                $("input#idInputDeletar").val(IDItemDeletando);
            });
        });
    </script>

</div>
