@model MatriculaAcademica.Models.ProfessorDisciplina

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProfessorDisciplina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Identificador de Professor Disciplina
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.id_professor_disciplina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disciplina.nome_disciplina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disciplina.nome_disciplina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Professor.nome_professor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Professor.nome_professor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_professor_disciplina }) |
    @Html.ActionLink("Back to List", "Index")
</p>
