@model IEnumerable<Matricula.Models.Pessoa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefone1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefone2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endereco)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefone1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefone2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endereco)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_pessoa }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_pessoa }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_pessoa })
        </td>
    </tr>
}

</table>
