@model MatriculaAcademica.Models.ImpressaoVO
@{
    ViewBag.Title = "Details";
    Layout = "";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Matrícula Escolar</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/home")
    <script src="@Url.Content("~/Scripts/jquery.min.js")" asp-append-version="true"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@Url.Content("~/Scripts/bootstrap.js")" asp-append-version="true"></script>
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")
</head>

@Scripts.Render("~/bundles/bootstrap")

<div style=" /* margin-top: 100px; */ margin-bottom: 100px; margin-right: 150px; margin-left: 80px;">
    <h2>Matricula da Escola Saber</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Identificador da Matrícula
            </dt>

            <dd>
                @Html.DisplayFor(model => model.matricula.id_matricula)
            </dd>
            <dt>
                Data da Matrícula
            </dt>
            <dd>
                @{
                    string data_matricula = Model.matricula.data_matricula.Date.ToShortDateString();
                }
                @Html.DisplayTextFor(model => data_matricula)
            </dd>
            <dt>
                Nome do Aluno
            </dt>

            <dd>
                @Html.DisplayFor(model => model.matricula.Aluno.nome_aluno)
            </dd>

            <dt>
                CPF
            </dt>

            <dd>
                @Html.DisplayFor(model => model.matricula.Aluno.CPF)
            </dd>

            <dt>
                Data de Nascimento
            </dt>

            <dd>
                @{
                    string data_nascimento = Model.matricula.Aluno.nascimento.Date.ToShortDateString();
                }
                @Html.DisplayTextFor(model => data_nascimento)
            </dd>

            <dt>
                Nome do Curso
            </dt>

            <dd>
                @Html.DisplayFor(model => model.matricula.Curso.nome_curso)
            </dd>

            <dt>
                Turno
            </dt>

            <dd>
                @Html.DisplayFor(model => model.matricula.Curso.turno)
            </dd>

            <dd>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Nome da Disciplina
                            </th>
                            <th>
                                Nome do Professor
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var cont in Model.professordisciplina)
                        {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => cont.Disciplina.nome_disciplina)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => cont.Professor.nome_professor)
                                        </td>
                                    </tr>        
                        }

                    </tbody>
                </table>
            </dd>

            <dt>
                Responsavel pela matricula
            </dt>

            <dd>
                @Html.DisplayFor(model => model.matricula.Usuario.login)
            </dd>
        </dl>
    </div>
    <div style="width: fit-content; margin-left: 10px;">
        <div style="display: inline-block; float: left;">
            <div style="margin-top: 10px; margin-bottom: 10px; margin-right: 10px; margin-left: 10px; float: left;">
                <br><br>
                <p>____________________</p>
                <br>
                <p>
                    Assinatura do Aluno ou<br>
                    Responsável pelo Aluno
                </p>
            </div>
        </div>

        <div style="display: inline-block; float: right; margin-left: 60px; ">
            <div style="margin-top: 10px; margin-bottom: 10px; margin-right: 10px; margin-left: 10px; float: left;">
                <br><br>
                <p>____________________</p>
                <br>
                <p>Assinatura da Escola Saber</p>
            </div>
        </div>
    </div>

    <div style="display: inline-block;margin-left: 0px; margin-top: 10px;">
        <div style="margin-top: 10px; margin-bottom: 10px; margin-right: 10px; margin-left: 10px;">
            <p>Declaramos para os fins necessários que o aluno de nome @Html.DisplayFor(model => model.matricula.Aluno.nome_aluno), registrado sob o CPF de número @Html.DisplayFor(model => model.matricula.Aluno.CPF), se encontra devidamente matriculado no curso @Html.DisplayFor(model => model.matricula.Curso.nome_curso), no turno @Html.DisplayFor(model => model.matricula.Curso.turno),
            sendo frequente no turno @Html.DisplayFor(model => model.matricula.Curso.turno), sendo parte do corpo discente da Instituição de ensino Escola Saber.
            <br><br><p>Duque de Caxias, São Cristóvão, Rio Branco 29368-149, BR</p>
            <p>Telefone: (011) 5342-6234 Email: info@escolasaber.edu.br</p>
        </div>
    </div>
    <br><br><br>
    <p>
        <button onclick="location.href='@Url.Action("Index", "Matriculas")';return false;">Voltar</button>
        <button onclick="window.print();return false;">Imprimir</button>
    </p>

