@model MatriculaAcademica.Models.Matricula

@{
    ViewBag.Title = "Details";
    Layout = "";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Matrícula Escolar</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/home")
    <script src="@Url.Content("~/Scripts/jquery.min.js")" asp-append-version="true"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@Url.Content("~/Scripts/bootstrap.js")" asp-append-version="true"></script>
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")
</head>

@Scripts.Render("~/bundles/bootstrap")

<div class="margin-custom1">
    <h2>Matricula da Escola Saber</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Identificador da Matricula
            </dt>

            <dd>
                @Html.DisplayFor(model => Model.id_matricula)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.data_matricula)
            </dt>
            <dd>
                @{
                    string data_matricula = Model.data_matricula.Date.ToShortDateString();
                }
                @Html.DisplayTextFor(m => data_matricula)
            </dd>

            <dt>
                Nome do Aluno
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Aluno.nome_aluno)
            </dd>

            <dt>
                CPF
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Aluno.CPF)
            </dd>

            <dt>
                Data de Nascimento
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Aluno.nascimento)
            </dd>

            <dt>
                Nome do Curso
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Curso.nome_curso)
            </dd>

            <dt>
                Responsavel pela matricula
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Usuario.login)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Voltar", "Index")
    </p>
