@model IEnumerable<MatriculaAcademica.Models.Matricula>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.data_matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aluno.nome_aluno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curso.nome_curso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.data_matricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aluno.nome_aluno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.nome_curso)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_matricula }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_matricula }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_matricula })
        </td>
    </tr>
}

</table>
