@model Matricula.Models.Usuario

@{
    Layout = null;
}

<!DOCTYPE html>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <head>
        <meta name="viewport" content="width=device-width" class="bg-gray" />
        <title>Matricula acadêmica - Cadastro</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body class="bg-gray">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-box" id="login-box">
            <div class="header bg-black">Cadastrar</div>
            <div class="body bg-gray">


                <div class="form-group">
                    @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @type = "text", @name = "nome", @class = "form-control", @placeholder = "Login", @required = "" } })
                    @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.EditorFor(model => model.senha, new { htmlAttributes = new { @type = "password", @name = "senha", @class = "form-control", @placeholder = "Senha", @required = "" } })
                    @Html.ValidationMessageFor(model => model.senha, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="footer bg-white">
                <button type="submit" class="btn bg-black btn-block">Cadastrar</button>

                <div class="btn bg-black btn-block">
                    @Html.ActionLink("Voltar", "../Login")
                </div>
            </div>
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </body>
}

